<a href="https://colab.research.google.com/github/danielduartt/Pandas-Python/blob/main/Fixacao_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

##**Exercícios:**

- Crie uma série chamada "temperaturas" com os valores [25.5, 26.2, 23.8, 22.5, 24.9].
- Mostre o valor máximo da série "temperaturas".
- Calcule a média das temperaturas.
- Crie uma série chamada "cidades" com os índices ['SP', 'RJ', 'BH', 'DF', 'POA'] e valores ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Distrito Federal', 'Porto Alegre'].
- Exiba as cidades que têm temperaturas acima de 25 graus.
- Crie uma nova série chamada "temperaturas_fahrenheit" convertendo os valores da série "temperaturas" de graus Celsius para Fahrenheit (F = C * 9/5 + 32).
- Renomeie a série "temperaturas" para "temp_series".
- Crie uma série chamada "populacao" com os índices das mesmas cidades e valores de população correspondentes.
- Adicione a série "populacao" à série "cidades" criando um DataFrame chamado "dados_cidades".
- Exiba o DataFrame "dados_cidades" com as informações das cidades e suas populações.

1. Crie uma série chamada "temperaturas" com os valores [25.5, 26.2, 23.8, 22.5, 24.9].

In [2]:
temperaturas = pd.Series([25.5, 26.2, 23.8, 22.5, 24.9])

2. Mostre o valor máximo da série "temperaturas".

In [3]:
print(f"Valor máximo: {temperaturas.max()}")

Valor máximo: 26.2

3. Calcule a média das temperaturas.

In [5]:
print(f"Média: {temperaturas.mean():.2f}")

Média: 24.58

4. Crie uma série chamada "cidades" com os índices ['SP', 'RJ', 'BH', 'DF', 'POA'] e valores ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Distrito Federal', 'Porto Alegre'].

In [6]:
cidades = pd.Series(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Distrito Federal', 'Porto Alegre'], index = "SP RJ BH DF POA".split())

5. Exiba as cidades que têm temperaturas acima de 25 graus.

In [12]:
valores = temperaturas[ temperaturas > 25].index
print(cidades[valores])

SP         São Paulo
RJ    Rio de Janeiro
dtype: object

6. Crie uma nova série chamada "temperaturas_fahrenheit" convertendo os valores da série "temperaturas" de graus Celsius para Fahrenheit (F = C * 9/5 + 32).

In [14]:
temperaturas_fahrenheit = temperaturas[:] * 9/5 + 32
print(temperaturas_fahrenheit)

0    77.90
1    79.16
2    74.84
3    72.50
4    76.82
dtype: float64

7. Renomeie a série "temperaturas" para "temp_series".

In [16]:
temperaturas.rename('temp_series', inplace = True)
print(temperaturas)

0    25.5
1    26.2
2    23.8
3    22.5
4    24.9
Name: temp_series, dtype: float64

8. Crie uma série chamada "populacao" com os índices das mesmas cidades e valores de população correspondentes.

In [17]:
populacao = pd.Series([12176866, 6718903, 2521564, 3015268, 1488252], index = "SP RJ BH DF POA".split())

9. Adicione a série "populacao" à série "cidades" criando um DataFrame chamado "dados_cidades".

In [26]:
dados_ds = {"Cidades": cidades, "População": populacao}
dados_cidades = pd.DataFrame(dados_ds)

10. Exiba o DataFrame "dados_cidades" com as informações das cidades e suas populações.

In [27]:
display(dados_cidades)

              Cidades  População
SP          São Paulo   12176866
RJ     Rio de Janeiro    6718903
BH     Belo Horizonte    2521564
DF   Distrito Federal    3015268
POA      Porto Alegre    1488252