<a href="https://colab.research.google.com/github/danielduartt/Pandas-Python/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

#**Series:**

In [2]:
steps = pd.Series([42153,5241,56974,12365])
display(steps)

0    42153
1     5241
2    56974
3    12365
dtype: int64

In [3]:
type(steps)

pandas.core.series.Series

In [6]:
#Pegando valores da series
print(steps.values) # retorna os valores
print()
print(steps.index) # retorna os indíces

[42153  5241 56974 12365]

RangeIndex(start=0, stop=4, step=1)

In [7]:
#Criando uma Serie com indices escolhidos pelo programador
steps = pd.Series(data = [42153,5241,56974,12365], index = ['seg','ter','quar','qui'])
# criei uma serie ja indicando os indices
display(steps)

seg     42153
ter      5241
quar    56974
qui     12365
dtype: int64

In [26]:
#obs: o steps.values mostra que os valores são agrupados em um array
#logo pode-se trabalhar com o numpy
#Ex:
n = steps.values
print(type(n))
print()
print(f"mínimo: {steps.min()}")
print(f"máximo: {steps.max()}")
print(f"média: {steps.mean()}")
print("por ai vai...")
print('~'*21)
print(steps.shape)
print('~'*21)
print(steps.describe())

<class 'numpy.ndarray'>

mínimo: 5241
máximo: 56974
média: 29183.25
por ai vai...
~~~~~~~~~~~~~~~~~~~~~
(4,)
~~~~~~~~~~~~~~~~~~~~~
count        4.000000
mean     29183.250000
std      24471.923155
min       5241.000000
25%      10584.000000
50%      27259.000000
75%      45858.250000
max      56974.000000
dtype: float64

#**Indexação, Operações e Máscaras**

In [28]:
cursos = {
    'Python': 10,
    'JavaScript': 9,
    'Matlab': 7
}


series = pd.Series(cursos) #Criando uma serie a partir de um dicionário
print(series)

Python        10
JavaScript     9
Matlab         7
dtype: int64

##**Indexação:**

In [42]:
letras = 'A B C D E F G H I J'
series2 = pd.Series(np.random.randint(1, 5, 10), index = letras.split())
print(series2)

A    1
B    4
C    1
D    1
E    2
F    4
G    1
H    4
I    1
J    2
dtype: int64

In [45]:
series2[0] #primeiro valor acessado pelo indíce numérico

1

In [46]:
series2['A'] #primeiro valor acessado pelo indíce criado manualmente

1

In [48]:
series2['A': 'F']

A    1
B    4
C    1
D    1
E    2
F    4
dtype: int64

##**Operações:**

In [50]:
s1 = pd.Series(data = np.random.randint(1, 100, 3), index = 'Facebook Instagram Youtube'.strip().split() )
print(s1)

Facebook      2
Instagram    60
Youtube      83
dtype: int64

In [54]:
s2 = pd.Series(data = np.random.randint(1, 100, 4), index = 'Zoom Instagram Twitch Youtube'.strip().split())
print(s2)

Zoom         47
Instagram    15
Twitch       44
Youtube      53
dtype: int64

In [62]:

print(s1 + s2) #junta as duas series, somando os valores de mesmo indice e adicionando os indices diferentes

Facebook       NaN
Instagram     75.0
Twitch         NaN
Youtube      136.0
Zoom           NaN
dtype: float64

##**Máscaras:**

In [65]:
series2

A    1
B    4
C    1
D    1
E    2
F    4
G    1
H    4
I    1
J    2
dtype: int64

In [69]:
series2[series2 > 2]

B    4
F    4
H    4
dtype: int64

In [72]:
series2[series2 > 2].index #retorna só os indices

Index(['B', 'F', 'H'], dtype='object')